body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}
h1 {
  text-align: center;
}
footer {
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
}
.dl-body-wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 0 20px;
}
.dl-gallery {
  margin: 50px auto;
}
.dl-gallery > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  display: inline-block;
}
.dl-gallery > li > img {
  width: 100%;
}
.dl-download {
  margin: 50px auto;
  text-align: center;
}
.dl-download > img {
  width: 40%;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: auto;
  margin: 0 10px;
}