body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}
h1 {
  text-align: center;
}
footer {
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
}
.dl-body-wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 0 20px;
}
.dl-summary {
  margin: 20px 0;
}
.dl-summary > li {
  margin: 0 0 20px 0;
}
.dl-gallery {
  margin: 50px auto;
  padding: 0;
  text-align: center;
}
.dl-gallery > li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.dl-gallery > li > img, .dl-gallery > li > video {
  width: 100%;
}
.dl-download {
  margin: 50px auto;
  text-align: center;
}
.dl-download > a {
  width: 40%;
  display: inline-block;
  text-align: left;
  height: 40px;
  margin: 0 10px;
}
.dl-download > a:first-child {
  text-align: right;
}
.dl-download > a > img {
  height: 40px;
  width: auto;
  text-align: center;
}